.top-section {
  height: 290px;
  padding: 25px;
}

.dash-menu {
  padding:0;
  margin:0;
  height: 267px;

}

.circle {
position: relative;
width:160px;
height:160px;
padding-top: 40px;
text-align:center;
vertical-align: middle;
font-family: 'Parisienne', cursive;
font-size: 50px;
line-height: 45px;
border-radius:50%;
font-size:50px;
color:#fff;
background:#ee1987;
margin: auto;

}

.user-name {
  text-transform: uppercase;
  font-family: 'Gotham', 'Open Sans', sans-serif;
  color: #9e9e9e;
  text-align: center;
  margin-top: 40px;
  letter-spacing: 2px
}



.to-do-section {
  margin: 0;
  padding-left: 25px;
  padding-right: 25px;
  height: 66px;
}

.to-do {
  font-family: 'Bodoni', 'Times New Roman', serif;
  font-style: italic;
  color: black;
  font-size: 13pt;
  width: 230px;
}


.ion-ios-camera-outline, .ion-ios-heart-outline, .ion-ios-eye-outline, .ion-ios-clock-outline {
  position: absolute;
  right: 25px;
  font-size: 30px;
  color: #9e9e9e;
}


