<template name="addItemTag">
  <div class="valign-wrapper title-bar">
    <span class="task-title">Add New Item</span>
  </div>
  <hr>
  
  <div class="container">
    <div class="itemPhoto"><img src="{{photo}}"></div>



  </div>

  <hr>

  <div class="row">
    <form class="col s12">
      <div class="row">
        
  <div id="itemType" class="input-field col s6">
    <select class="browser-default">
      <option value="" disabled selected>Choose Item Type</option>
      <option value="Top">Top</option>
      <option value="Bottom">Bottom</option>
      <option value="Dress">Dress</option>
      <option value="Outwear">Outerwear</option>
      <option value="Shoes">Shoes - Accessories</option>
    </select>
  </div>

  <div class="input-field col s6">
    <select class="browser-default">
      <option value="" disabled selected>Choose Occasion</option>
      <option value="Casual">Casual</option>
      <option value="Formal">Formal</option>
      <option value="Work">Work</option>

    </select>
  </div>
      </div>
    </form>
  </div>
        
</template>